@media (max-width:1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 72px;
        z-index: 101;
        padding-top: 5px;
    }

    .side-bar-link {
        background-color: white;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .side-bar-link:hover {
        background-color: rgb(223, 223, 223);
        cursor: pointer;
    }

    .side-bar-link img {
        height: 24px;
        margin-bottom: 4px;
    }

    .side-bar-link div {
        font-size: 10px;

    }

}

@media (min-width:1200.1px) {

    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: white;
        width: 222px;
        z-index: 101;
        padding-top: 5px;
    }

    .side-bar-link {
        background-color: white;
        height: 73px;
        display: flex;
        justify-content: start;
        padding-left: 25px;
        align-items: center;
        flex-direction: row;
    }


    .side-bar-link:hover {
        background-color: rgb(223, 223, 223);
        cursor: pointer;
    }

    .side-bar-link img {
        height: 24px;
        margin-bottom: 4px;

    }

    .side-bar-link div {
        font-size: 16px;
        padding-left: 22px;
    }
}