    p {
        font-family: Monsterrat;
        margin-top: 0;
        margin-bottom: 0;
    }

    .exercise1 {
        color: black;
        size: 70px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .exercise2_1 {
        color: black;
        size: 27px;
        text-align: center;
        margin-bottom: 20px;
    }

    .exercise2_2 {
        color: black;
        size: 27px;
    }

    .exercise2_2:hover {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }