.Container {
    font-family: Arial, Helvetica, sans-serif;
    width: 240px;
    height: 330px;
    border: 1px solid black;
    box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
}


.itachi {
    width: 240px;
    height: 200px;
    margin-bottom: 0;
}

.name {
    font-size: 15px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 14px;

}

.sasuke {
    width: 30px;
    height: 30px;
    border-radius: 80px;

    margin-top: 10px;
    margin-left: 10px
}

.mutual-friends {

    color: rgb(96, 96, 96);
    margin-left: 13px;
    margin-top: 18px;
    vertical-align: top;
}

.add-button {
    background-color: rgb(60, 96, 173);
    border: none;
    color: white;
    border-radius: 3px;
    padding: 8px;
    margin-left: 10px;
}


.naruto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}

.image-mutual {
    display: grid;
    grid-template-columns: 30px 1fr;
}